<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Categoria</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div id="cdt-descriaõ" class="form-control">
<h2 id="cadastre-se">Descrição</h2>
<div id="descrição">
	<form action="adicionaCategoria" method="post">
		<div class="form-group">
		<input type="text" class="form-control" placeholder="descrição" name="descrição"/>
	</div>
 	<div id="bt-categoria">
	<input class="btn btn-primary" type="submit" value="Salvar Categoria"/>
	</div>
	</form>
	</div>
	</div>
</body>
</html>