<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Usuário</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>
<div>
<div id="cdt" class="form-control">
<h2 id="b-vindo">Cadastro</h2>
	<form action="adicionaUsuario" method="post">
	<div class="form-group">
	<input type="text" class="form-control" placeholder="nome" name="nome"/><br/>
		</div>
	
	<div class="form-group">
	<input type="text" class="form-control" placeholder="sobrenome" name="sobrenome"/><br/>
		</div>
	<div class="form-group">
	<input type="text" class="form-control" placeholder="CPF" name="CPF"/><br/>
		</div>
	<div class="form-group">
	<input type="text" class="form-control" placeholder="EMAIL" name="EMAIL"/><br/>
		</div>
	<div class="form-group">
	<input type="password" class="form-control" placeholder="SENHA" name="SENHA"/><br/>
		</div>
	
	<input type="submit" value="Finalizar Cadastro"/>
	</form>
</div>
</div>
</body>
</html>