<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de Denuncia</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div id="tela-denuncia">
	<div class="">
		<form action="adicionaDenuncia" method="post">
			Descrição: <br/>
			<div class="form-group">
	<input type="text" class="form-control" placeholder="Descrição" name="Descrição"/>
		</div>
			Localização: <br/>
			<input type="text" class="form-control" placeholder="Localização" name="Localização"/>
			Categoria: <br/>
			<select name="categoria">
				<option >Selecione a Categoria</option>
				<option th:each="valor : ${todosValoresCategoria}" th:value="${valor.id}" th:text="${valor.descricao}"></option>
			</select>
			<input type="submit" value="Enviar Denuncia"/>	
		</form>
		</div>
	</div>
</body>
</html>